header{
	font-size: 20px;
	font-family: Helvetica,Verdana;
}
body{
	background:white;
	font-size: 16px;
	font-family: Helvetica, Verdana;
}
	
h1{ 
	font-size: 35px;
	color: lime;
}
h2{
	font-size: 30px; 
	color: black;
}
.special-subheading {
	color:yellow;
}
.shape {
	background:white;
	height: 400px;
	margin: 0 auto;
	padding: 15px;
	border-left:px;
}
.Selfie {
    width: 25px;
    height: auto;
}
h3 {
	font-style: italic;
}
h4{
	font-style: italic;
}
.essay {
	font-family: century, Helvetica;
	margin: 20px 350px;
	background: white;
	color: black;
	font-size: 25px;
}

p {
	text-indent: 5px;
	 }
h5{ font-style: italic;
	font-size: 30px

}
h6{
	font-size: 1em;
	font-family: impact;
	letter-spacing: 3px;
	text-align: center;
}
blockquote{
	font-style: italic;
	font-size:2em;
	border-left: 3px solid purple;

}
.pagelink{
	font-family: "hydrophilia-liquid";
	font-style: italic;
	color:lime;
	font-size: 20px;
	background:black;
	width: 10px;
}
.division1{
	background: white;
	margin: 5px;
	text-align: center;
}
.ricelytitle{
	height:300px;
	padding: 20px
}
.between{

}